
@{
    ViewBag.Title = "SuccessMessage";
    Layout = "~/Views/Shared/_myLayoutPage1.cshtml";
}

<h2>SuccessMessage</h2>
<p>
    New Password link sent to your email.

</p>
<a class="d-block small" href="~/User/Login">Ok</a>

